@use 'bootstrap/scss/bootstrap';


@import "datatables.net-bs5/css/dataTables.bootstrap5.css";


@import "bootstrap-select/dist/css/bootstrap-select.min.css";


@import "daterangepicker/daterangepicker.css";


