
.toggle {
    position: relative;
    display: inline-block;
}

.toggle__input {
    display: none;
}

.toggle__label {
    display: block;
    width: 40px;
    height: 20px;
    background-color: lightgray;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle__input:checked + .toggle__label {
    background-color: #34C759;
}

.toggle__input:checked + .toggle__label::after {
    left: 22px;
}

.toggle__label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: left 0.3s ease;
}
