.image-tooltip {
    position: absolute;
    top: -60px; 
    left: 0;

    width: 100px;
    height: 100px;

    border-radius: 50%;
    overflow: hidden;

    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);

    opacity: 0;
    transform: scale(0.85) translateY(10px);
    transition: opacity 0.2s ease,
    transform 0.2s ease;

    pointer-events: none;
    z-index: 9999;
}

.image-tooltip img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.product-hover-image {
    cursor: pointer;
}

.product-hover-image:hover {
    text-decoration: underline;
}

